Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit
pre-commit:
  parallel: true
  commands:
    eslint-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npx eslint "{staged_files}"
    biome-check-and-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again
    typescript-check:
      run: npx tsc --noEmit

perf: massively reduce db queries for periodic broadcast check
  src/services/database/offerRepository.ts
  src/services/telegrambot.ts
Due: eslint-fix, biome-check-and-fix

feat: calculate end dates for offers in feeds
  src/services/feed.ts
Due: eslint-fix, biome-check-and-fix

refactor: remove unused export
  src/services/scraper/base/scraper.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.4.0
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  b12908f2a2dbc5d832da6192db674b6801ee6a08
Due: none

feat: do not upload files that are already current
  src/services/database/hashRepository.ts
  src/services/database/migrations/010-hashes.ts
  src/services/database/migrations/migrations.ts
  src/services/ftp.ts
  src/types/database.ts
  src/utils/hash.ts
Due: eslint-fix, biome-check-and-fix

fix: do not include a date in empty feeds or feeds without dates
  src/utils/atom.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.5.0
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  a4cd941fef9bd7f9fcb1b70b7c9264b7d0ba5d5f
Due: none

fix: reply with message when refresh command has nothing to send
  src/services/telegrambot/utils/send.ts
Due: eslint-fix, biome-check-and-fix

fix: answer menu close callbacks first so the client knows it has been handled
  src/services/telegrambot/handlers/callbacks/close.ts
Due: eslint-fix, biome-check-and-fix

feat: add AppRaven as source
  src/services/scraper/implementations/appAgg.contract.test.ts
  src/services/scraper/implementations/appAgg.ts
  src/services/scraper/implementations/appRaven.contract.test.ts
  src/services/scraper/implementations/appRaven.ts
  src/services/scraper/implementations/appSliced.contract.test.ts
  src/services/scraper/implementations/appSliced.ts
  src/services/scraper/implementations/epicApi.contract.test.ts
  src/services/scraper/implementations/index.ts
  src/services/scraper/utils.ts
  templates/config.default.yaml
Due: eslint-fix, biome-check-and-fix

fix: change AppRaven schedule to once a day
  src/services/scraper/implementations/appRaven.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.6.0
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  445887bce6ce62a6c292b9eb39deca745be9fe8f
Due: none

fix: don't get duplicate combinations for sources where there are multiple scrapers
  src/services/scraper/utils.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.6.1
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  eca3c3fe16f057a055b1e9eab4b583a56a2e42ba
Due: none

feat: regard offers older than 3 months as inactive
  src/services/database/offerRepository.ts
Due: eslint-fix, biome-check-and-fix

fix: do not send new offers on menu close to avoid sending out duplicates
  src/services/telegrambot/handlers/callbacks/close.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.7.0
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  04ea5d8e247496c8bf88bd77f9888a05e81ad6dc
Due: none

docs: update readme
  README.md
  README_DEV.md
Due: none
