Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit
pre-commit:
  parallel: true
  commands:
    eslint-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npx eslint "{staged_files}"
    biome-check-and-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again
    typescript-check:
      run: npx tsc --noEmit

docs: update readme
  README.md
  README_DEV.md
Due: none

docs: update readme image
  README.md
Due: none

fix: ignore errors on epic graphql queries
  src/services/scraper/implementations/epicApi.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.7.1
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  3c5e5d5f2b9d7a9b4cf7c4793f5ef84f227185f4
Due: none

fix: log warnings for api scrapers as well
  src/services/scraper/base/scraper.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.7.2
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  7875624a2c10aa933061afaef7fa9a1213877929
Due: none

chore: update pnpm
  package.json
Due: biome-check-and-fix

chore: move eslint config to ts format
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint-fix, biome-check-and-fix

feat: log scraper name in error messages
  src/services/scraper/base/scraper.ts
  src/services/scraper/implementations/amazon/base.ts
  src/services/scraper/implementations/amazon/games.ts
  src/services/scraper/implementations/amazon/loot.ts
  src/services/scraper/implementations/appAgg.ts
  src/services/scraper/implementations/appSliced.ts
  src/services/scraper/implementations/epicWeb.ts
  src/services/scraper/implementations/epicmobile/base.ts
  src/services/scraper/implementations/gog/alwaysfree.ts
  src/services/scraper/implementations/gog/games.ts
  src/services/scraper/implementations/humble.ts
  src/services/scraper/implementations/itch.ts
  src/services/scraper/implementations/steam/base.ts
  src/services/scraper/implementations/ubisoft.ts
Due: eslint-fix, biome-check-and-fix

fix: do not log messages that weren't updated
  src/services/telegrambot/handlers/callbacks/router.ts
Due: eslint-fix, biome-check-and-fix

refactor: reorganize test running
  src/services/browser.contract.test.ts
  src/services/gameinfo/igdb/igdb.contract.test.ts
  src/services/gameinfo/steam/steam.contract.test.ts
  src/services/scraper/implementations/amazon/games.contract.test.ts
  src/services/scraper/implementations/amazon/loot.contract.test.ts
  src/services/scraper/implementations/appAgg.contract.test.ts
  src/services/scraper/implementations/appRaven.contract.test.ts
  src/services/scraper/implementations/appSliced.contract.test.ts
  src/services/scraper/implementations/epicApi.contract.test.ts
  src/services/scraper/implementations/epicWeb.contract.test.ts
  src/services/scraper/implementations/gog/alwaysfree.contract.test.ts
  src/services/scraper/implementations/gog/games.contract.test.ts
  src/services/scraper/implementations/humble.contract.test.ts
  src/services/scraper/implementations/itch.contract.test.ts
  src/services/scraper/implementations/steam/games.contract.test.ts
  src/services/scraper/implementations/steam/loot.contract.test.ts
  src/services/scraper/implementations/ubisoft.contract.test.ts
  src/services/telegrambot/telegram.contract.test.ts
  vite.config.ts
Due: eslint-fix, biome-check-and-fix

fix: add more cases for epic api slugs
  src/services/scraper/implementations/epicApi.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.8.0
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  63ad11d92eaa566efaedfdd4b0c6beff952d764e
Due: none

fix: don't log when amazon has no loot
  src/services/scraper/implementations/amazon/base.ts
  src/services/scraper/implementations/amazon/games.ts
Due: eslint-fix, biome-check-and-fix

fix: epic url slug order
  src/services/scraper/implementations/epicApi.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.8.1
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  ac1f4d1c951eddaacabbc5836fccceb9ff99cc79
Due: none

chore: update gitignore
  .gitignore
Due: none

chore: remove old extra tools
  eslint.config.ts
  knip.json
  package.json
  tools/codeDump.ts
  tools/codeList.ts
  tsconfig.json
Due: eslint-fix, biome-check-and-fix
