Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

eslint-fix:
  run: npx eslint "{staged_files}"

biome-check-and-fix:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again

style: lint
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/utils/logger.ts
Due: eslint-fix, biome-check-and-fix

chore: bump versions
  .github/workflows/ci.yml
  package.json
Due: biome-check-and-fix

ci: add dependabot
  .github/dependabot.yml
Due: none

chore: update vitest config
  vite.config.ts
Due: eslint-fix, biome-check-and-fix

test: add basic test
  src/utils/dateTime.test.ts
  src/utils/dateTime.ts
Due: eslint-fix, biome-check-and-fix

ci: update action
  .github/workflows/ci.yml
Due: none

feat: initial config and errror handling
  config/config.default.yaml
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/services/config.test.ts
  src/services/config.ts
  src/types/config.ts
  src/types/errors.ts
  src/utils/errorHandler.ts
  src/utils/logger.test.ts
  src/utils/logger.ts
Due: eslint-fix, biome-check-and-fix

chore: update gitignore
  .gitignore
Due: none

feat: create config from default if none exists
  src/services/config.test.ts
  src/services/config.ts
  src/utils/logger.ts
Due: eslint-fix, biome-check-and-fix

feat: add db
  src/database/migrations.ts
  src/database/migrations/001_initial.ts
  src/services/database.ts
  src/types/database.ts
Due: eslint-fix, biome-check-and-fix

feat: do migrations
  src/services/database.ts
Due: eslint-fix, biome-check-and-fix

feat: add rest of db migrations
  src/database/migrations/001_initial.ts
Due: eslint-fix, biome-check-and-fix

feat: add db operations
  src/services/database/operations.ts
  src/types/config.ts
  tests/database/operations.test.ts
  tests/database/testData.ts
Due: eslint-fix, biome-check-and-fix

chore: pin versions
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

chore: add vs code launch config
  .vscode/launch.json
Due: biome-check-and-fix

feat: update winston logger
  src/main.ts
  src/utils/logger.ts
Due: eslint-fix, biome-check-and-fix

refactor: remove dummy data
  src/utils/dateTime.test.ts
  src/utils/dateTime.ts
Due: eslint-fix, biome-check-and-fix

feat: add db migrations
  src/database/migrations.ts
  src/database/migrations/2024-12-08-initial.ts
  src/database/migrations/2024-12-09-drop-alembic.ts
  src/database/migrations/2024-12-10-indices.ts
  src/services/database.ts
  src/services/database/operations.ts
  src/types/database.ts
  tests/database/operations.test.ts
  tests/database/testData.ts
Due: eslint-fix, biome-check-and-fix

feat: add base scraper class and first scraper
  src/scrapers/base/scraper.ts
  src/scrapers/scrapers/epic.ts
Due: eslint-fix, biome-check-and-fix

chore: add luxon types
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

Path conditions:
  eslint-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  biome-check-and-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
