Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

eslint-fix:
  run: npx eslint "{staged_files}"

biome-check-and-fix:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again

docs: update todo
  TODO.md
Due: none

test: update expected output for titleCleaner test
  src/utils/titleCleaner.test.ts
Due: eslint-fix, biome-check-and-fix

chore: update file list
  tools/codeDump.ts
Due: eslint-fix, biome-check-and-fix

fix: correct condition in calculateRealValidTo function
  src/utils/dateCalculator.ts
Due: eslint-fix, biome-check-and-fix

fix: refine filtering logic for active offers
  src/services/database/offerRepository.test.ts
  src/services/database/offerRepository.ts
  tests/testData.ts
Due: eslint-fix, biome-check-and-fix

refactor: clean up utils folder
  TODO.md
  src/scrapers/implementations/steam/base.ts
  src/services/generators/html.ts
  src/services/generators/rss.ts
  src/services/orchestrator.ts
  src/utils/index.ts
  src/utils/names.test.ts
  src/utils/names.ts
  src/utils/stringTools.test.ts
  src/utils/stringTools.ts
  src/utils/titleCleaner.test.ts
  src/utils/titleCleaner.ts
  src/utils/translations.ts
Due: eslint-fix, biome-check-and-fix

feat: improve config validation
  TODO.md
  src/services/config.test.ts
  src/services/config.ts
Due: eslint-fix, biome-check-and-fix

feat: chunk long messages for logs
  TODO.md
  src/bot/index.ts
  src/bot/telegram.contract.test.ts
  src/utils/stringTools.ts
Due: eslint-fix, biome-check-and-fix

feat: add tests for Telegram message length and rate limits
  TODO.md
  src/bot/telegram.contract.test.ts
Due: eslint-fix, biome-check-and-fix

feat: add winston-transport dependency
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

docs: update Telegram logging configuration options
  templates/config.default.yaml
Due: none

feat: log all errors with telegram
  src/bot/index.ts
  src/bot/types/config.ts
  src/main.ts
  src/services/orchestrator.ts
  src/types/config.ts
  src/utils/logger.ts
Due: eslint-fix, biome-check-and-fix

feat: add icons to telegram log messages
  src/utils/logger.ts
Due: eslint-fix, biome-check-and-fix

docs: add todo
  TODO.md
Due: none

refactor: improve Telegram logging timeout handling and message formatting
  src/utils/logger.ts
Due: eslint-fix, biome-check-and-fix

refactor: update configuration structure for browser settings
  src/services/browser.ts
  src/services/config.test.ts
  src/types/config.ts
  templates/config.default.yaml
Due: eslint-fix, biome-check-and-fix

refactor: remove browser context dependency from scraper implementations
  src/scrapers/base/scraper.ts
  src/scrapers/implementations/amazon/base.ts
  src/scrapers/implementations/amazon/games.contract.test.ts
  src/scrapers/implementations/amazon/loot.contract.test.ts
  src/scrapers/implementations/apple.contract.test.ts
  src/scrapers/implementations/epic.contract.test.ts
  src/scrapers/implementations/gog/alwaysfree.contract.test.ts
  src/scrapers/implementations/gog/games.contract.test.ts
  src/scrapers/implementations/gog/games.ts
  src/scrapers/implementations/google.contract.test.ts
  src/scrapers/implementations/humble.contract.test.ts
  src/scrapers/implementations/humble.ts
  src/scrapers/implementations/itch.contract.test.ts
  src/scrapers/implementations/steam/base.ts
  src/scrapers/implementations/steam/games.contract.test.ts
  src/scrapers/implementations/steam/loot.contract.test.ts
  src/scrapers/implementations/ubisoft.contract.test.ts
  src/services/browser.ts
  src/services/gameinfo.ts
  src/services/gameinfo/steam/steam.contract.test.ts
  src/services/gameinfo/steam/steam.ts
  src/services/orchestrator.ts
Due: eslint-fix, biome-check-and-fix

feat: add option to skip images
  src/services/browser.ts
Due: eslint-fix, biome-check-and-fix

fix: make google scsraper work without image loading
  src/scrapers/implementations/google.ts
Due: eslint-fix, biome-check-and-fix

fix: use correct id for retrieving chats from db
  src/bot/handlers/callbacks/offer.ts
  src/bot/handlers/commands/base.ts
  src/services/database/telegramChatRepository.ts
Due: eslint-fix, biome-check-and-fix

Path conditions:
  eslint-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  biome-check-and-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
