Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

eslint-fix:
  run: npx eslint "{staged_files}"

biome-check-and-fix:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again

fix: use correct id for retrieving chats from db
  src/bot/handlers/callbacks/offer.ts
  src/bot/handlers/commands/base.ts
  src/services/database/telegramChatRepository.ts
Due: eslint-fix, biome-check-and-fix

feat: send new offers to Telegram after scraping
  src/services/orchestrator.ts
Due: eslint-fix, biome-check-and-fix

docs: update todo
  TODO.md
Due: none

chore: prepare pnpm 10 update
  package.json
Due: biome-check-and-fix

feat: handle blocked chats
  src/bot/handlers/commands/refresh.ts
  src/bot/service.ts
  src/bot/utils/send.ts
  src/services/orchestrator.ts
Due: eslint-fix, biome-check-and-fix

fix: use correct ids for telegram chat db actions
  src/services/database/telegramChatRepository.ts
Due: eslint-fix, biome-check-and-fix

feat: update blocking message
  src/bot/utils/send.ts
Due: eslint-fix, biome-check-and-fix

feat: send out unsent offers on start
  src/services/orchestrator.ts
Due: eslint-fix, biome-check-and-fix

test: fix tests
  src/services/config.test.ts
Due: eslint-fix, biome-check-and-fix

docs: update default config
  templates/config.default.yaml
Due: none

test: add telegram chat repo tests
  src/services/database/telegramChatRepository.test.ts
Due: eslint-fix, biome-check-and-fix

fix: do not allow duplicate entries
  src/database/migrations/005-strict.ts
  src/services/database/telegramChatRepository.ts
Due: eslint-fix, biome-check-and-fix

feat: allow reactivation of chats with /start
  src/bot/handlers/commands/start.ts
Due: eslint-fix, biome-check-and-fix

chore: update deps
  uv.lock
Due: none

chore: update package.json
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

refactor: fix comment
  .github/dependabot.yml
Due: none

chore: update to pnpm 10
  package.json
Due: biome-check-and-fix

fix: use updated date for feed
  src/utils/atom.ts
Due: eslint-fix, biome-check-and-fix

fix: correctly generate filenames for html and xml files
  TODO.md
  src/services/feed.ts
  src/services/generators/html.ts
  src/services/generators/rss.ts
Due: eslint-fix, biome-check-and-fix

feat: add /scrapenow telegram command and remove scraping on startup
  src/bot/handlers/commands/admin/index.ts
  src/bot/handlers/commands/admin/scrapenow.ts
  src/bot/index.ts
Due: eslint-fix, biome-check-and-fix

fix: actually send out the announcements
  src/bot/handlers/commands/admin/announce.ts
  src/bot/service.ts
  src/services/orchestrator.ts
Due: eslint-fix, biome-check-and-fix

Path conditions:
  eslint-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  biome-check-and-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
