Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

eslint-fix:
  run: npx eslint "{staged_files}"

biome-check-and-fix:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again

fix: changed steam website layout
  src/services/scraper/implementations/steam/base.ts
Due: eslint-fix, biome-check-and-fix

ci: fix lint command
  package.json
Due: biome-check-and-fix

chore(release): 2.9.3
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  6f9163be395cbd719c463e71e03079dc400138bf
Due: none

fix: log error for steam age verification
  src/services/scraper/implementations/steam/base.ts
Due: eslint-fix, biome-check-and-fix

ci: fix build
  Dockerfile
  package.json
Due: biome-check-and-fix

chore(release): 2.9.4
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  fb382f02c5d7f19d2520c85627bbcc2adbe466fb
Due: none

fix: date formatting issues
  src/services/telegrambot/handlers/commands/status.ts
  src/services/telegrambot/utils/formatters.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.9.5
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  f187d5a2e29aa417a1477653d6a108b59958736e
Due: none

fix: handle group chat was upgraded to a supergroup error
  src/services/telegrambot/utils/send.ts
Due: eslint-fix, biome-check-and-fix

fix: add more verbose logging to offer sending
  src/services/telegrambot/utils/send.ts
Due: eslint-fix, biome-check-and-fix

chore: upgrade deps
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

refactor: line ending setting
  .gitattributes
Due: none

refactor: normalize file endings
  .github/funding.yml
  .github/workflows/conventional-pull-request.yml
Due: none

chore: add more image formats to lfs
  .gitattributes
Due: none

fix: more apic api weirdness regarding slugs
  src/services/scraper/implementations/epicApi.ts
Due: eslint-fix, biome-check-and-fix

fix: add timeouts in dockerfile
  Dockerfile
Due: none

fix: add build caching
  .github/workflows/publish-docker.yml
Due: none

chore: update biome to 2.0
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

Path conditions:
  eslint-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  biome-check-and-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
