Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit
pre-commit:
  parallel: true
  commands:
    eslint-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npx eslint "{staged_files}"
    biome-check-and-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again
    typescript-check:
      run: npx tsc --noEmit

fix: remove extra character from error log
  src/services/telegrambot/handlers/callbacks/router.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.2.1 [skip ci]
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  47ec1c3b326361f66cfdfe08a68b52b957ae812f
Due: none

fix: handle sending errors for announcements as well
  src/services/database/telegramChatRepository.ts
  src/services/telegrambot/utils/send.ts
Due: eslint-fix, biome-check-and-fix

ci: next try to fix semantic-release
  .github/workflows/publish-docker.yml
  .releaserc.json
Due: biome-check-and-fix

ci: publish to docker hub only for actual app changes
  .github/workflows/publish-docker.yml
Due: none

chore(release): 2.2.2
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  c0c7aa410bfed6f7ceefea9cdff889764e6851ae
Due: none

ci: fix publish workflow (again)
  .github/workflows/create-release.yml
  .github/workflows/publish-docker.yml
Due: none

fix: filter out more telegram errors
  src/services/telegrambot/utils/send.ts
Due: eslint-fix, biome-check-and-fix

feat: make migrations safer with transactions
  src/services/database/migrations/001-initial.ts
  src/services/database/migrations/002-alembic.ts
  src/services/database/migrations/003-indices.ts
  src/services/database/migrations/004-nullability.ts
  src/services/database/migrations/005-strict.ts
  src/services/database/migrations/006-dateformat.ts
  src/services/database/migrations/007-scrapingruns.ts
  src/services/database/migrations/008-platform.ts
Due: eslint-fix, biome-check-and-fix

fix: batch-fix wrongly set active flag from the old legacy version
  src/services/database/migrations/009-fixactive.ts
  src/services/database/migrations/migrations.ts
Due: eslint-fix, biome-check-and-fix

feat: unify title naming
  src/services/scraper/implementations/amazon/games.ts
  src/services/scraper/implementations/amazon/loot.ts
  src/services/scraper/implementations/apple.ts
  src/services/scraper/implementations/epicApi.ts
  src/services/scraper/implementations/epicWeb.ts
  src/services/scraper/implementations/epicmobile/base.ts
  src/services/scraper/implementations/google.ts
  src/services/scraper/implementations/humble.ts
  src/services/scraper/implementations/itch.ts
  src/services/scraper/implementations/steam/base.ts
  src/services/scraper/implementations/ubisoft.ts
  src/utils/stringTools.ts
Due: eslint-fix, biome-check-and-fix

ci: fix publishing for main
  .github/workflows/publish-docker.yml
Due: none

chore(release): 2.3.0
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  72904c6cf1250b7dd52ff92e92640623c696786b
Due: none

ci: remove publish trigger after release generation
  .github/workflows/create-release.yml
Due: none

fix: improve error handling when the bot is busy
  src/services/telegrambot.ts
  src/services/telegrambot/handlers/callbacks/router.ts
  src/services/telegrambot/handlers/commands/base.ts
  src/services/telegrambot/handlers/commands/manage.ts
Due: eslint-fix, biome-check-and-fix

docs: update readme
  README.md
Due: none

fix: add some debug logging
  src/services/telegrambot/utils/send.ts
Due: eslint-fix, biome-check-and-fix

fix: only use offers with a discount of 100% in the epic api scraper
  src/services/scraper/implementations/epicApi.ts
Due: eslint-fix, biome-check-and-fix

perf: merge telegram db queries for subscriptions
  src/services/database/telegramChatRepository.ts
  src/services/telegrambot/utils/send.ts
Due: eslint-fix, biome-check-and-fix
