Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit
pre-commit:
  parallel: true
  commands:
    eslint-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npx eslint "{staged_files}"
    biome-check-and-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again
    typescript-check:
      run: npx tsc --noEmit

fix: rename Google Play Store to Google Play
  README.md
  src/services/translation.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.9.6
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  c66cb074c524f1acf5a4e696724796b4b0eccea5
Due: none

docs: update readme
  README.md
Due: none

refactor: migrate zod to 4.x
  package.json
  pnpm-lock.yaml
  src/services/config.ts
  src/services/telegrambot/types/callbacks.ts
  src/services/telegrambot/utils/callbackPack.test.ts
  src/services/telegrambot/utils/callbackPack.ts
  src/types/config.ts
Due: eslint-fix, biome-check-and-fix

fix: use correct type for botLogChatId
  src/services/config.ts
Due: eslint-fix, biome-check-and-fix

fix: epic API changes
  src/services/scraper/implementations/epicApi.ts
Due: eslint-fix, biome-check-and-fix

docs: add CLAUDE.md with development guidance
  CLAUDE.md
Due: none

test: exclude test files and config from coverage report
  vite.config.ts
Due: eslint-fix, biome-check-and-fix

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

docs: update stats in readme
  README.md
Due: none

chore: update pnpm
  package.json
Due: biome-check-and-fix

chore: change to MIT license
  LICENSE
Due: none

ci: update gh templates
  .github/DISCUSSION_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

docs: update license in readme
  README.md
Due: none

docs: remove news from readme
  README.md
Due: none

docs: update license badge
  README.md
Due: none

chore(release): 2.9.7
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  560c44c905c6de0d9422d54a5ea46b7d11a98366
Due: none

chore: update packages
  package.json
  pnpm-lock.yaml
  src/services/scraper/implementations/gog/games.ts
  src/services/scraper/implementations/humble.ts
Due: eslint-fix, biome-check-and-fix
