Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

eslint-fix:
  run: npx eslint "{staged_files}"

biome-check-and-fix:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again

chore: remove git LFS
  .gitattributes
Due: none

chore: update gitignore
  .gitignore
Due: none

docs: update picture in readme
  README.md
Due: none

docs: update readme
  README.md
Due: none

feat: switch hosted domain to eikowagenknecht.com
  README.md
  src/services/generators/rss.ts
  src/services/telegrambot/handlers/commands/start.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.10.0
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  17ffe785386d3b11fc7056facab8aa6012b439e5
Due: none

chore: update eslint config
  eslint.config.ts
Due: eslint-fix, biome-check-and-fix

fix: fix type error
  eslint.config.ts
Due: eslint-fix, biome-check-and-fix

chore: update pnpm
  package.json
Due: biome-check-and-fix

chore: upgrade @apollo/client from 3.13.9 to 4.0.7 (#530)
  package.json
  pnpm-lock.yaml
  src/services/scraper/implementations/appRaven.ts
  src/services/scraper/implementations/epicApi.ts
Due: eslint-fix, biome-check-and-fix

chore: update packages
  biome.json
  package.json
  pnpm-lock.yaml
  src/services/ftp.ts
Due: eslint-fix, biome-check-and-fix

fix: prevent browser memory leak and handle disconnected browser gracefully
  src/services/browser.ts
  src/services/scraper.ts
  src/services/scraper/base/scraper.ts
  src/services/scraper/implementations/amazon/base.ts
Due: eslint-fix, biome-check-and-fix

fix: add periodic browser restart to prevent memory accumulation
  src/services/browser.ts
  src/services/scraper.ts
Due: eslint-fix, biome-check-and-fix

feat: add comprehensive memory usage logging
  src/services/browser.ts
  src/services/scraper.ts
Due: eslint-fix, biome-check-and-fix

feat: add memory monitoring service for container memory tracking
  src/services/memoryMonitor.ts
  src/services/orchestrator.ts
  src/services/telegrambot.ts
  src/services/telegrambot/handlers/commands/admin/index.ts
  src/services/telegrambot/handlers/commands/admin/memory.ts
  src/types/config.ts
  templates/config.default.yaml
Due: eslint-fix, biome-check-and-fix

fix: memory leak caused by long playwright uptime
  src/services/scraper.ts
Due: eslint-fix, biome-check-and-fix

chore: upgrade deps
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

fix: downgrade eslint because of error in 9.39.0
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

chore(release): 2.10.1
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  b79f96cb99d7d1cf3d509dba8a648182b4f928cf
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

feat!: remove appsliced
  src/services/scraper/implementations/appSliced.contract.test.ts
  src/services/scraper/implementations/appSliced.ts
  src/services/scraper/implementations/index.ts
  src/services/scraper/utils.ts
  templates/config.default.yaml
Due: eslint-fix, biome-check-and-fix

fix: amazon changed url to luna
  src/services/scraper/implementations/amazon/base.ts
Due: eslint-fix, biome-check-and-fix

Notes added by 'git notes add'
  f2c0d092b189506a80070cd835afc77dd22054ab
Due: none

chore(release): 2.10.2
  package.json
Due: biome-check-and-fix

chore: switch from vite-node to tsx for dev run
  .vscode/launch.json
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

fix: user agent for epic mobile
  src/services/scraper/implementations/epicmobile/base.ts
Due: eslint-fix, biome-check-and-fix

fix: switch epic api from graphql to rest endpoint
  src/services/scraper/implementations/epicApiGraphql.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.10.3
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  01ca971d0ac60cd248d705bb62379dc0c0367743
Due: none

fix: downgrade Docker to Node 22 to fix Epic mobile scraper 403
  Dockerfile
Due: none

chore(release): 2.10.4
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  4a62aee47b4828ebe5a87374ce7c19e4002aa8c4
Due: none

fix: bypass TLS fingerprinting for Epic mobile scraper on Node 24
  src/services/scraper/implementations/epicmobile/base.ts
  src/utils/fetch.ts
Due: eslint-fix, biome-check-and-fix

chore: bump pnpm
  package.json
Due: biome-check-and-fix

chore: add discord library
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

feat: add Discord bot integration
  CLAUDE.md
  README.md
  README_DEV.md
  src/services/database/discordChannelRepository.ts
  src/services/database/migrations/011-discord.ts
  src/services/database/migrations/migrations.ts
  src/services/database/offerRepository.ts
  src/services/database/scrapingRunRepository.ts
  src/services/discordbot.ts
  src/services/discordbot/handlers/commands/index.ts
  src/services/discordbot/utils/channels.ts
  src/services/discordbot/utils/formatters.ts
  src/services/orchestrator.ts
  src/services/telegrambot.ts
  src/types/config.ts
  src/types/database.ts
  src/utils/fetch.ts
  src/utils/logger.ts
  src/utils/stringTools.ts
  templates/config.default.yaml
Due: eslint-fix, biome-check-and-fix

Notes added by 'git notes add'
  5bbeec39bd969aeaeefdd3707df050ee80958bf5
Due: none

Path conditions:
  eslint-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  biome-check-and-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
