Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

commit-msg:
  commands:
    lint-commit-msg:
      run: npx commitlint --edit
pre-commit:
  parallel: true
  commands:
    eslint-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: npx eslint "{staged_files}"
    biome-check-and-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again
    typescript-check:
      run: npx tsc --noEmit

ci: add semantic release workflow
  .github/workflows/create-release.yml
  .github/workflows/quality-check.yml
  .releaserc.json
  TODO.md
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

ci: update workflow
  .github/workflows/create-release.yml
Due: none

feat: release v2
  README.md
Due: none

chore(release): 2.1.0 [skip ci]
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  0ff0a471ecb72806dbf8dc0006148444635a72fc
Due: none

chore: update pnpm version
  package.json
Due: biome-check-and-fix

chore: add graphql client
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

chore: add eslint-jsdoc plugin
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint-fix, biome-check-and-fix

docs: add some JSDoc
  src/services/database/offerRepository.ts
  src/services/gameinfo.ts
  src/services/gameinfo/igdb/igdb.ts
  src/types/basic.ts
  src/types/telegram.ts
  src/utils/atom.ts
  src/utils/logger.ts
  src/utils/path.ts
  src/utils/stringTools.ts
Due: eslint-fix, biome-check-and-fix

refactor: prepare for non-browser-scrapers
  src/services/browser/utils.ts
  src/services/scraper.ts
  src/services/scraper/base/scraper.ts
  src/services/scraper/implementations/amazon/base.ts
  src/services/scraper/implementations/amazon/games.ts
  src/services/scraper/implementations/amazon/loot.ts
  src/services/scraper/implementations/apple.ts
  src/services/scraper/implementations/epic.ts
  src/services/scraper/implementations/gog/alwaysfree.ts
  src/services/scraper/implementations/gog/base.ts
  src/services/scraper/implementations/gog/games.ts
  src/services/scraper/implementations/google.ts
  src/services/scraper/implementations/humble.ts
  src/services/scraper/implementations/itch.ts
  src/services/scraper/implementations/steam/base.ts
  src/services/scraper/implementations/ubisoft.ts
  src/services/telegrambot/utils/callbackPack.ts
  src/services/telegrambot/utils/markdown.ts
Due: eslint-fix, biome-check-and-fix

refactor: rename current epic scraper to EpicGamesWeb
  src/services/scraper/implementations/epicWeb.contract.test.ts
  src/services/scraper/implementations/epicWeb.ts
  src/services/scraper/implementations/index.ts
  templates/config.default.yaml
Due: eslint-fix, biome-check-and-fix

chore: readd gql libraries
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

chore: update readme
  README.md
Due: none

chore(release): 2.2.0 [skip ci]
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  bedac91cf4046d4bd9a6000ea60e2ed2f05bc5e5
Due: none

ci: publish latest tag
  .github/workflows/create-release.yml
  .github/workflows/publish-docker.yml
Due: none

test: update tests
  src/utils/stringTools.test.ts
Due: eslint-fix, biome-check-and-fix

fix: skip unneccessary browser context generation for api scrapers
  src/services/scraper/base/scraper.ts
  src/services/scraper/implementations/epicApi.ts
Due: eslint-fix, biome-check-and-fix

fix: filter for platform in generated feeds
  src/services/feed.ts
Due: eslint-fix, biome-check-and-fix

fix: add more errors to inactivate chats
  src/services/telegrambot/utils/send.ts
Due: eslint-fix, biome-check-and-fix

fix: remove extra character from error log
  src/services/telegrambot/handlers/callbacks/router.ts
Due: eslint-fix, biome-check-and-fix
