Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint-check, oxfmt-fix

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm exec commitlint --edit

pre-commit:
  parallel: false
  commands:
    typescript-check:
      run: pnpm exec tsc --noEmit
    oxlint-check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm exec oxlint '{staged_files}'
    oxfmt-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm exec oxfmt '{staged_files}' && git update-index --again

fix: flip negated ternary conditions for readability
  src/services/discordbot/utils/formatters.ts
  src/services/telegrambot/handlers/commands/manage.ts
  src/services/telegrambot/utils/formatters.ts
Due: oxlint-check, oxfmt-fix

chore: re-enable fixed linter rules
  .oxlintrc.json
Due: oxfmt-fix

fix: use Response.json() instead of new Response(JSON.stringify())
  src/services/gameinfo/igdb/igdb.test.ts
Due: oxlint-check, oxfmt-fix

chore: update deps
  package.json
  pnpm-lock.yaml
Due: oxfmt-fix

fix: use targeted ignores for jsdoc/require-returns false positives
  .oxlintrc.json
  src/services/telegrambot/utils/markdown.ts
  src/utils/delay.ts
Due: oxlint-check, oxfmt-fix

chore: remove empty igdbContract.ts file
  tests/igdbContract.ts
Due: oxlint-check, oxfmt-fix

docs: fix escaping
  src/services/telegrambot/utils/markdown.ts
Due: oxlint-check, oxfmt-fix

fix: resolve no-immediate-mutation lint warnings
  .oxlintrc.json
  src/utils/atom.ts
  src/utils/stringTools.ts
Due: oxlint-check, oxfmt-fix

chore: remove unnecessary oxfmt ignore pattern
  .oxfmtrc.json
Due: oxfmt-fix

fix: enable unicorn/prefer-at rule and use .at() for array access
  .oxlintrc.json
  src/utils/stringTools.ts
Due: oxlint-check, oxfmt-fix

fix: enable prefer-dom-node-text-content rule with explicit ignore
  .oxlintrc.json
  src/services/scraper/implementations/steam/base.ts
Due: oxlint-check, oxfmt-fix

chore: enable import/no-unassigned-import rule with inline exception
  .oxlintrc.json
  vitest-setup.ts
Due: oxlint-check, oxfmt-fix

chore(release): 2.12.0
  package.json
Due: oxfmt-fix

Notes added by 'git notes add'
  d4cd7f88e4de27e1b58a8cd7fe9b974ec20e2881
Due: none

feat: add more frequent Epic Games schedule checks
  src/services/scraper/implementations/epicApi.ts
  src/services/scraper/implementations/epicmobile/base.ts
Due: oxlint-check, oxfmt-fix

Notes added by 'git notes add'
  89d2b26f29f603962b96be863d45962e06c20b09
Due: none

chore(release): 2.13.0
  package.json
Due: oxfmt-fix

fix: support Discord announcement channels for offer posting
  src/services/discordbot.ts
  src/services/discordbot/utils/channels.ts
Due: oxlint-check, oxfmt-fix

fix: move type alias after imports to satisfy linter
  src/services/discordbot/utils/channels.ts
Due: oxlint-check, oxfmt-fix

feat: add auto-crosspost for Discord announcement channels
  src/services/discordbot.ts
  src/types/config.ts
  templates/config.default.yaml
Due: oxlint-check, oxfmt-fix

refactor: remove crosspostAnnouncements config option
  src/services/discordbot.ts
  src/types/config.ts
  templates/config.default.yaml
Due: oxlint-check, oxfmt-fix

feat: add auto-crosspost for Discord announcement channels (#571)
  src/services/discordbot.ts
Due: oxlint-check, oxfmt-fix

Notes added by 'git notes add'
  9240dbf995c43a6df34a1368af6331dbbb7477b2
Due: none

chore(release): 2.14.0
  package.json
Due: oxfmt-fix

fix: only send Telegram error alerts after repeated scraper failures
  src/services/scraper.ts
  src/services/scraper/base/scraper.ts
  src/services/scraper/implementations/amazon/base.ts
  src/services/scraper/implementations/amazon/games.ts
  src/services/scraper/implementations/amazon/loot.ts
  src/services/scraper/implementations/appAgg.ts
  src/services/scraper/implementations/epicApi.ts
  src/services/scraper/implementations/epicWeb.ts
  src/services/scraper/implementations/epicmobile/base.ts
  src/services/scraper/implementations/gog/alwaysfree.ts
  src/services/scraper/implementations/gog/games.ts
  src/services/scraper/implementations/humble.ts
  src/services/scraper/implementations/itch.ts
  src/services/scraper/implementations/steam/base.ts
  src/services/scraper/implementations/ubisoft.ts
Due: oxlint-check, oxfmt-fix

fix: only send Telegram error alerts after repeated scraper failures (#574)
  src/services/scraper.ts
  src/services/scraper/base/scraper.ts
  src/services/scraper/implementations/amazon/base.ts
  src/services/scraper/implementations/amazon/games.ts
  src/services/scraper/implementations/amazon/loot.ts
  src/services/scraper/implementations/appAgg.ts
  src/services/scraper/implementations/epicApi.ts
  src/services/scraper/implementations/epicWeb.ts
  src/services/scraper/implementations/epicmobile/base.ts
  src/services/scraper/implementations/gog/alwaysfree.ts
  src/services/scraper/implementations/gog/games.ts
  src/services/scraper/implementations/humble.ts
  src/services/scraper/implementations/itch.ts
  src/services/scraper/implementations/steam/base.ts
  src/services/scraper/implementations/ubisoft.ts
Due: oxlint-check, oxfmt-fix

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

ci: add claude workflow (#575)
  .github/workflows/claude.yml
Due: none

chore(release): 2.14.1
  package.json
Due: oxfmt-fix

Notes added by 'git notes add'
  e559fa1be5bd5e2b8e268ccd299a4affff757217
Due: none

fix: downgrade game info fetch failures from error to warn level
  src/services/gameinfo.ts
  src/services/gameinfo/steam/steam.ts
Due: oxlint-check, oxfmt-fix

fix: downgrade game info fetch failures from error to warn level (#576)
  src/services/gameinfo.ts
  src/services/gameinfo/steam/steam.ts
Due: oxlint-check, oxfmt-fix

ci: update dependabot
  .github/workflows/quality-check.yml
  package.json
Due: oxfmt-fix

chore(deps): update all deps, bump TypeScript 6.0, Vite 8.0, target Node 24
  package.json
  pnpm-lock.yaml
  src/services/telegrambot.ts
  tsconfig.json
  vite.config.ts
Due: oxlint-check, oxfmt-fix

fix: resolve all 93 oxlint warnings
  .oxlintrc.json
  src/services/config.ts
  src/services/database.ts
  src/services/discordbot/handlers/commands/index.ts
  src/services/scraper/implementations/appAgg.ts
  src/services/scraper/implementations/epicWeb.ts
  src/services/scraper/implementations/gog/alwaysfree.ts
  src/services/scraper/implementations/humble.ts
  src/services/scraper/implementations/itch.ts
  src/services/scraper/implementations/steam/base.ts
  src/services/scraper/implementations/ubisoft.ts
  src/services/telegrambot.ts
  src/services/telegrambot/handlers/callbacks/offer.ts
  src/services/telegrambot/handlers/callbacks/toggle.ts
  src/services/telegrambot/utils/formatters.ts
  src/types/errors.ts
  src/utils/stringTools.ts
Due: oxlint-check, oxfmt-fix

docs: add images back in
  images/lootscraper.xcf
  images/ls_1024x1024.png
  images/ls_1280_640.png
  images/ls_2880x1024.png
  images/ls_2880x1024_alt.png
  images/ls_640_360.png
Due: none

docs: link to OpenRift in a more-from-me section
  README.md
Due: none
