Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

eslint-fix:
  run: npx eslint "{staged_files}"

biome-check-and-fix:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again

refactor: remove redundant error handling in offer retrieval functions
  src/services/database/offerRepository.ts
Due: eslint-fix, biome-check-and-fix

test: add contract tests for various game scrapers
  src/scrapers/implementations/amazon/games.contract.test.ts
  src/scrapers/implementations/amazon/loot.contract.test.ts
  src/scrapers/implementations/apple.contract.test.ts
  src/scrapers/implementations/epic.contract.test.ts
  src/scrapers/implementations/gog/alwaysfree.contract.test.ts
  src/scrapers/implementations/gog/games.contract.test.ts
  src/scrapers/implementations/google.contract.test.ts
  src/scrapers/implementations/humble.contract.test.ts
  src/scrapers/implementations/itch.contract.test.ts
  src/scrapers/implementations/steam/games.contract.test.ts
  src/scrapers/implementations/steam/loot.contract.test.ts
  src/scrapers/implementations/ubisoft.contract.test.ts
  src/services/browser.contract.test.ts
Due: eslint-fix, biome-check-and-fix

refactor: replace instance-specific logger with a shared logger utility across scrapers
  src/scrapers/base/scraper.ts
  src/scrapers/implementations/amazon/base.ts
  src/scrapers/implementations/amazon/games.ts
  src/scrapers/implementations/amazon/loot.ts
  src/scrapers/implementations/apple.ts
  src/scrapers/implementations/epic.ts
  src/scrapers/implementations/gog/alwaysfree.ts
  src/scrapers/implementations/gog/games.ts
  src/scrapers/implementations/google.ts
  src/scrapers/implementations/humble.ts
  src/scrapers/implementations/itch.ts
  src/scrapers/implementations/steam/base.ts
  src/scrapers/implementations/ubisoft.ts
Due: eslint-fix, biome-check-and-fix

fix: update log level enum to include actual levels
  src/types/config.ts
Due: eslint-fix, biome-check-and-fix

chore: add basic-ftp dependency to package.json and update pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

feat: implement FTP upload functionality
  src/services/ftp.ts
Due: eslint-fix, biome-check-and-fix

refactor: unify filename and feed title generation
  src/services/generators/html.ts
  src/services/generators/rss.ts
  src/utils/names.ts
Due: eslint-fix, biome-check-and-fix

feat: various improvements
  src/bot/handlers/commands/manage.ts
  src/scrapers/utils.ts
  src/services/config.test.ts
  src/services/config.ts
  src/services/database.ts
  src/services/feed.ts
  src/services/ftp.ts
  src/services/generators/html.ts
  src/services/generators/rss.ts
  src/services/orchestrator.ts
  src/utils/logger.test.ts
  src/utils/logger.ts
  src/utils/names.test.ts
  src/utils/names.ts
  src/utils/path.ts
Due: eslint-fix, biome-check-and-fix

refactor: sync scrapers with python version
  src/scrapers/implementations/amazon/base.ts
  src/scrapers/implementations/epic.ts
  src/scrapers/implementations/gog/base.ts
  src/scrapers/implementations/gog/games.ts
  src/scrapers/implementations/index.ts
  src/scrapers/implementations/steam/base.ts
  src/types/errors.ts
Due: eslint-fix, biome-check-and-fix

refactor: move Category enum
  src/scrapers/base/scraper.ts
  src/scrapers/implementations/humble.ts
  src/scrapers/index.ts
  src/types/basic.ts
  src/types/index.ts
Due: eslint-fix, biome-check-and-fix

feat: adjust scrapers to better match previous version
  src/bot/handlers/commands/manage.ts
  src/bot/handlers/commands/start.ts
  src/bot/types/callbacks.ts
  src/bot/utils/formatters.ts
  src/scrapers/base/scraper.ts
  src/scrapers/implementations/amazon/base.ts
  src/scrapers/implementations/amazon/games.ts
  src/scrapers/implementations/amazon/loot.ts
  src/scrapers/implementations/apple.ts
  src/scrapers/implementations/epic.ts
  src/scrapers/implementations/gog/alwaysfree.ts
  src/scrapers/implementations/gog/base.ts
  src/scrapers/implementations/gog/games.ts
  src/scrapers/implementations/google.ts
  src/scrapers/implementations/humble.ts
  src/scrapers/implementations/itch.ts
  src/scrapers/implementations/steam/base.ts
  src/scrapers/implementations/steam/games.ts
  src/scrapers/implementations/steam/loot.ts
  src/scrapers/implementations/ubisoft.ts
  src/scrapers/utils.ts
  src/services/database/offerRepository.test.ts
  src/services/database/offerRepository.ts
  src/services/database/telegramSubscriptionRepository.ts
  src/services/generators/rss.ts
  src/types/basic.ts
  src/types/config.ts
  src/types/database.ts
  src/utils/names.test.ts
  src/utils/names.ts
  tests/testData.ts
Due: eslint-fix, biome-check-and-fix

chore: add i18next package
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

feat: add basic translation service for enums
  src/services/orchestrator.ts
  src/services/translation.ts
  src/types/basic.ts
  src/utils/names.ts
  src/utils/translations.ts
  tools/codeDump.ts
Due: eslint-fix, biome-check-and-fix

feat: use translation service instead of capitalize methods
  src/bot/handlers/commands/status.ts
  src/services/generators/html.ts
  src/services/generators/rss.ts
  src/utils/stringTools.ts
Due: eslint-fix, biome-check-and-fix

feat: use translation service for telagram offer
  src/bot/utils/formatters.ts
Due: eslint-fix, biome-check-and-fix

feat: add Dockerfile
  Dockerfile
  package.json
  src/services/browser.ts
  src/services/config.ts
  src/utils/path.ts
Due: eslint-fix, biome-check-and-fix

fix: stop redundantly updating game titles
  src/scrapers/base/scraper.ts
Due: eslint-fix, biome-check-and-fix

ci: add debug info
  src/utils/path.ts
Due: eslint-fix, biome-check-and-fix

ci: manage pnpm version in package.json only
  .github/workflows/ci.yml
  README_DEV.md
Due: none

docs: add old dev readme back in
  README_DEV.md
Due: none

Path conditions:
  eslint-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  biome-check-and-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
