Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

eslint-fix:
  run: npx eslint "{staged_files}"

biome-check-and-fix:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again

refactor: remove raw offer interfaces and read offers directly in scrapers
  src/services/scraper/base/scraper.ts
  src/services/scraper/implementations/amazon/base.ts
  src/services/scraper/implementations/amazon/games.ts
  src/services/scraper/implementations/amazon/loot.ts
  src/services/scraper/implementations/apple.ts
  src/services/scraper/implementations/epic.ts
  src/services/scraper/implementations/gog/alwaysfree.ts
  src/services/scraper/implementations/gog/base.ts
  src/services/scraper/implementations/gog/games.ts
  src/services/scraper/implementations/google.ts
  src/services/scraper/implementations/humble.ts
  src/services/scraper/implementations/itch.ts
  src/services/scraper/implementations/steam/base.ts
  src/services/scraper/implementations/ubisoft.ts
Due: eslint-fix, biome-check-and-fix

fix: remove some newlines in rawtext
  src/services/scraper/implementations/gog/games.ts
Due: eslint-fix, biome-check-and-fix

feat: set titles and games in the scrapers only
  src/services/scraper/base/scraper.ts
  src/services/scraper/implementations/amazon/loot.ts
  src/utils/index.ts
  src/utils/stringTools.ts
Due: eslint-fix, biome-check-and-fix

feat: add option to drop pending updates on start
  src/services/scraper/implementations/gog/base.ts
  src/services/telegrambot.ts
Due: eslint-fix, biome-check-and-fix

docs: update readme
  README.md
  TODO.md
  src/types/errors.ts
  src/utils/stringTools.ts
Due: eslint-fix, biome-check-and-fix

fix: remove excess logging
  src/services/scraper/implementations/gog/base.ts
Due: eslint-fix, biome-check-and-fix

chore: update packages
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

chore: update pnpm ver
  package.json
Due: biome-check-and-fix

fix: update corepack version because of signature problems
  Dockerfile
Due: none

fix: tone down overly verbose docker logging
  src/utils/path.ts
Due: eslint-fix, biome-check-and-fix

fix: send only offers that have been seen recently
  src/services/database/offerRepository.ts
  src/services/telegrambot/utils/send.ts
Due: eslint-fix, biome-check-and-fix

chore: bump version
  package.json
Due: biome-check-and-fix

docs: update readme
  README.md
Due: none

feat: add version number to startup logging
  src/main.ts
  src/utils/path.ts
  src/utils/version.ts
Due: eslint-fix, biome-check-and-fix

refactor: improve typing for sendWithTimeout
  src/utils/logger.ts
Due: eslint-fix, biome-check-and-fix

fix: avoid duplicate messages on timeout
  package.json
  pnpm-lock.yaml
  src/utils/logger.ts
Due: eslint-fix, biome-check-and-fix

refactor: move sendWithTimeout from logger to telegram service
  src/services/telegrambot.ts
  src/utils/logger.ts
Due: eslint-fix, biome-check-and-fix

fix: update last seen date on older offers
  src/services/database/offerRepository.ts
  src/services/scraper.ts
Due: eslint-fix, biome-check-and-fix

docs: update readme
  README.md
  README_DEV.md
Due: none

ci: add semantic release workflow
  .github/workflows/create-release.yml
  .github/workflows/quality-check.yml
  .releaserc.json
  TODO.md
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

Path conditions:
  eslint-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  biome-check-and-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
