Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

eslint-fix:
  run: npx eslint "{staged_files}"

biome-check-and-fix:
  run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true "{staged_files}" && git update-index --again

chore: remove old extra tools
  eslint.config.ts
  knip.json
  package.json
  tools/codeDump.ts
  tools/codeList.ts
  tsconfig.json
Due: eslint-fix, biome-check-and-fix

fix: use logger instead of console.log
  src/services/scraper/implementations/epicmobile/base.ts
  src/utils/logger.ts
Due: eslint-fix, biome-check-and-fix

fix: clean titles for GOG always free
  src/services/scraper/implementations/gog/alwaysfree.ts
Due: eslint-fix, biome-check-and-fix

feat: improve logging message clarity
  src/services/scraper/base/scraper.ts
Due: eslint-fix, biome-check-and-fix

fix: include offers with start dates in "all" html feeds
  src/services/feed.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.9.0
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  3367cd8ffb92f4460849bf615393f544880ffe44
Due: none

docs: remove ubisoft from readme as it's currently not working
  README.md
Due: none

fix: remove non working ubisoft scraper from default config
  templates/config.default.yaml
Due: none

fix: use proper logging call for warnings
  src/services/database/offerRepository.ts
  src/services/telegrambot/handlers/commands/base.ts
Due: eslint-fix, biome-check-and-fix

fix: try to avoid errors on language switching with better retry logic
  src/services/scraper/implementations/gog/base.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.9.1
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  3d47f3a3aa8af4dd3e888aa9a325ef6ac82afaa1
Due: none

ci: move discussions
  .github/DISCUSSION_TEMPLATE/feature-requests.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: update pnpm version
  package.json
Due: biome-check-and-fix

refactor: fix linter problems
  src/services/telegrambot.ts
Due: eslint-fix, biome-check-and-fix

docs: update readme
  README.md
Due: none

fix: skip Epic offers without valid dates
  src/services/scraper/implementations/epicApi.ts
Due: eslint-fix, biome-check-and-fix

fix: give Amazon more time for detail pages
  src/services/scraper/implementations/amazon/base.ts
Due: eslint-fix, biome-check-and-fix

chore(release): 2.9.2
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  9c3298365f6d999c2daea7b785f70e5b6a2e8115
Due: none

fix: use epoch as fallback timestamp instead of leaving the field out
  src/utils/atom.ts
Due: eslint-fix, biome-check-and-fix

Path conditions:
  eslint-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  biome-check-and-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
