Repository eikowagenknecht/lootscraper: changes, and which lefthook commands are due for each by the changed paths.
All: oxlint-check, oxfmt-fix

oxlint-check:
  run: pnpm exec oxlint '{staged_files}'

oxfmt-fix:
  run: pnpm exec oxfmt '{staged_files}' && git update-index --again

feat: add platform to feed entry titles and structured category metadata
  src/services/generators/rss.test.ts
  src/services/generators/rss.ts
Due: oxlint-check, oxfmt-fix

revert: remove rss.test.ts — no prior test existed for this file and plain *.test.ts is not in the project's vitest include pattern
  src/services/generators/rss.test.ts
Due: oxlint-check, oxfmt-fix

fix(gog): don't drop giveaways without image and wait for client-side render
  src/services/scraper/implementations/gog/base.ts
  src/services/scraper/implementations/gog/games.ts
Due: oxlint-check, oxfmt-fix

fix(test): restore unit/contract test separation with vitest projects
  package.json
  src/services/browser.contract.test.ts
  src/services/config.test.ts
  src/services/gameinfo/igdb/igdb.contract.test.ts
  src/services/gameinfo/igdb/igdb.test.ts
  src/services/gameinfo/steam/steam.contract.test.ts
  src/services/scraper/implementations/amazon/games.contract.test.ts
  src/services/scraper/implementations/amazon/loot.contract.test.ts
  src/services/scraper/implementations/appAgg.contract.test.ts
  src/services/scraper/implementations/appRaven.contract.test.ts
  src/services/scraper/implementations/epicApi.contract.test.ts
  src/services/scraper/implementations/epicWeb.contract.test.ts
  src/services/scraper/implementations/gog/alwaysfree.contract.test.ts
  src/services/scraper/implementations/gog/games.contract.test.ts
  src/services/scraper/implementations/humble.contract.test.ts
  src/services/scraper/implementations/itch.contract.test.ts
  src/services/scraper/implementations/steam/games.contract.test.ts
  src/services/scraper/implementations/steam/loot.contract.test.ts
  src/services/scraper/implementations/ubisoft.contract.test.ts
  src/services/telegrambot/telegram.contract.test.ts
  vite.config.ts
Due: oxlint-check, oxfmt-fix

chore(deps): update all dependencies
  package.json
  pnpm-lock.yaml
  src/services/database/migrations/migrations.ts
Due: oxlint-check, oxfmt-fix

style: fix oxlint warnings from oxlint 1.72
  src/services/browser.ts
  src/services/database/offerRepository.ts
  src/services/gameinfo/steam/steam.ts
  src/services/scraper/base/scraper.ts
  src/services/scraper/implementations/amazon/base.ts
  src/services/scraper/implementations/amazon/games.contract.test.ts
  src/services/scraper/implementations/amazon/loot.contract.test.ts
  src/services/scraper/implementations/appAgg.contract.test.ts
  src/services/scraper/implementations/appRaven.contract.test.ts
  src/services/scraper/implementations/epicApi.contract.test.ts
  src/services/scraper/implementations/epicWeb.contract.test.ts
  src/services/scraper/implementations/gog/alwaysfree.contract.test.ts
  src/services/scraper/implementations/gog/base.ts
  src/services/scraper/implementations/gog/games.contract.test.ts
  src/services/scraper/implementations/gog/games.ts
  src/services/scraper/implementations/humble.contract.test.ts
  src/services/scraper/implementations/humble.ts
  src/services/scraper/implementations/itch.contract.test.ts
  src/services/scraper/implementations/steam/games.contract.test.ts
  src/services/scraper/implementations/steam/loot.contract.test.ts
  src/services/scraper/implementations/ubisoft.contract.test.ts
  src/services/scraper/implementations/ubisoft.ts
  src/services/telegrambot/handlers/commands/help.ts
  src/services/telegrambot/utils/callbackPack.test.ts
  src/services/telegrambot/utils/callbackPack.ts
  src/services/telegrambot/utils/markdown.ts
  src/types/config.ts
  src/utils/atom.ts
  src/utils/logger.ts
  src/utils/stringTools.ts
Due: oxlint-check, oxfmt-fix

chore(release): 2.14.2
  package.json
Due: oxfmt-fix

Notes added by 'git notes add'
  e971e5bc1a00b4e59ef74ae6e8b5b6e03e4f1f8a
Due: none

fix(rss): use config.feed.idPrefix instead of hardcoded URLs
  src/services/generators/rss.ts
Due: oxlint-check, oxfmt-fix

test(rss): restore RssGenerator test coverage with a repo-idiomatic harness
  src/services/generators/rss.test.ts
Due: oxlint-check, oxfmt-fix

feat: add platform to feed entry titles and structured category (#628)
  src/services/generators/rss.test.ts
  src/services/generators/rss.ts
Due: oxlint-check, oxfmt-fix

chore(deps): update all dependencies to latest
  package.json
  pnpm-lock.yaml
Due: oxfmt-fix

feat: add Steam Points Shop scraper for free event items (#602)
  src/services/scraper/implementations/index.ts
  src/services/scraper/implementations/steam/points.contract.test.ts
  src/services/scraper/implementations/steam/points.test.ts
  src/services/scraper/implementations/steam/points.ts
  src/services/scraper/utils.ts
  src/services/translation.ts
  src/types/basic.ts
  templates/config.default.yaml
Due: oxlint-check, oxfmt-fix

docs: add Steam Points Shop feed links, remove disabled itch.io feeds
  README.md
Due: none

feat: add Fab scraper for limited-time free assets (#609)
  src/services/discordbot/utils/formatters.ts
  src/services/gameinfo.ts
  src/services/scraper/implementations/fab.contract.test.ts
  src/services/scraper/implementations/fab.test.ts
  src/services/scraper/implementations/fab.ts
  src/services/scraper/implementations/index.ts
  src/services/scraper/utils.ts
  src/services/translation.ts
  src/types/basic.ts
  templates/config.default.yaml
Due: oxlint-check, oxfmt-fix

docs: add Fab asset feed links
  README.md
Due: none

chore(release): 2.15.0
  package.json
Due: oxfmt-fix

Notes added by 'git notes add'
  084b6fcb7f1c5833441e0d9efef2ab79b210fb57
Due: none

ci: build docker on main pushes and version tags
  .github/workflows/publish-docker.yml
Due: none

docs: fix broken star history chart
  README.md
Due: none

docs: remove broken star history
  README.md
Due: none

fix: write default config atomically to avoid partial reads
  src/services/config.ts
Due: oxlint-check, oxfmt-fix

fix(telegram): don't answer slash commands meant for other bots
  src/services/telegrambot.ts
  src/services/telegrambot/handlers/commands/base.test.ts
  src/services/telegrambot/handlers/commands/base.ts
Due: oxlint-check, oxfmt-fix

chore(release): 2.15.1
  package.json
Due: oxfmt-fix

Notes added by 'git notes add'
  115189b0d2aee5356e178459c08efce780fcdd2e
Due: none

chore(lint): disable one-var rule
  .oxlintrc.json
Due: oxfmt-fix

Path conditions:
  oxlint-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  oxfmt-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
